
body {
    font-family: 'Khula', sans-serif;
    font-weight: 400; 
    font-size: 120%;
    background-color: #c3d5c3;
    color: #2D2C40;
    margin: 9; 
}
h1, h2, h3, h4 {
    font-family: 'Cormorant Garamond', serif;
    font-weight: 700; 
}
/*header, main, footer {
    margin: 0; 
}*/
/*nav*/
#site-nav {
    background-color: #770FBD;
}
#site-nav ul {
    list-style-type: none; 
    margin: 0; 
    padding: 0; 
    display: flex; 
    flex-direction: column;
    justify-content: space-between; 

}
#site-nav ul a {
    display: block;
    padding: 0.5em 1em;
    color: #f0f5f0; 
    background-color: #770FBD; 
    text-decoration: none;
}

a.button {
    text-decoration: none;
    display: inline-block;
    color: #2D2C40; 
    border: 1px solid #2D2C40; 
    padding: 0.5em 1em; 
}
#hero {
    height: 50vh;
    background-image: url("images/lilac-3369264_1920_mobile.jpg");
    background-repeat: no-repeat;
    background-position: right; 
    background-position-y: 50px; 
    color: #2D2C40;    
}
section, main, footer {
    padding: 1em;
}

@media only screen and (min-width: 650px) {
    #site-nav ul {
        flex-direction: row; 
        height: auto;
        opacity: 1; 
    }
}

