
/*
:*/
body {
    font-family: 'Khula', sans-serif;
    font-weight: 400; 
    font-size: 120%;
    background-color: #f5f0ef;
    color: #252725;
    margin: 0; 
}
h1, h2, h3, h4 {
    font-family: 'Cormorant Garamond', serif;
    font-weight: 700; 
}

#site-nav {
    background-color: purple;
}
#site-nav ul {
    list-style-type: none; 
    margin: 0; 
    padding: 0; 
    display: flex; 
    flex-direction: row;
    justify-content: space-between; 

}
#site-nav ul a {
    display: block;
    padding: 0.5em 1em;
    color: #f5f0ef; 
    background-color: #BF0426; 
    text-decoration: none;
    border: 1px solid black; 
}
/*#hero {

}


@media only screen and (min-width: __px) {
    
}

*/ 